html {
    box-sizing: border-box
}

* {
    box-sizing: inherit
}

html, body, p, ol, ul, li, textarea, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

button, input, select, textarea {
    margin: 0
}

img, embed, iframe, audio, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

header {
    position: fixed;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: auto;
    padding: 12px 0;
    font-family: 'Open Sans', sans-serif
}

    header .cointainer-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        width: 95%;
        max-width: 1100px;
        margin: 0 auto
    }

        header .cointainer-row a {
            text-decoration: none;
            color: inherit
        }

            header .cointainer-row a .logo {
                font-size: 27px;
                font-weight: 400
            }

                header .cointainer-row a .logo .si {
                    font-size: 24px;
                    font-weight: 400;
                    color: #66afec
                }

        header .cointainer-row .menu-icon {
            display: none;
            align-self: center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 27px;
            height: 27px;
            cursor: pointer
        }

            header .cointainer-row .menu-icon:hover {
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center
            }

        header .cointainer-row form {
            align-self: center;
            display: block
        }

            header .cointainer-row form .search-text {
                border: none;
                color: #fff;
                background-color: #484848;
                padding: 5px;
                font-size: 14px;
                width: 400px;
                outline: none;
                border-radius: 1px;
                font-weight: 300
            }

            header .cointainer-row form .search-button {
                border: none;
                color: #fff;
                background-color: #005489;
                padding: 5px 20px;
                font-size: 14px;
                font-weight: 300;
                cursor: pointer;
                outline: none
            }

                header .cointainer-row form .search-button:hover {
                    background-color: #2980b9
                }

        header .cointainer-row ul {
            display: none;
            width: 100%
        }

            header .cointainer-row ul li {
                width: 100%;
                font-size: 14px;
                cursor: pointer;
                padding: 9px 0;
                text-align: center
            }

                header .cointainer-row ul li:hover {
                    background-color: #484848
                }

                header .cointainer-row ul li:last-child {
                    border-top: 1px solid #484848
                }

        header .cointainer-row .categories {
            align-self: center;
            border: solid 1px #fff;
            padding: 3px 13px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 400;
            outline: none
        }

            header .cointainer-row .categories:hover {
                background-color: #484848
            }

        header .cointainer-row .login {
            align-self: center;
            font-size: 13px;
            font-weight: 400;
            cursor: pointer
        }

            header .cointainer-row .login:hover {
                text-decoration: underline
            }

@media only screen and (max-width: 960px) {
    header .cointainer-row form .search-text {
        width: 300px
    }
}

@media only screen and (max-width: 810px) {
    header .cointainer-row form .search-text {
        width: 230px
    }
}

@media only screen and (max-width: 760px) {
    header .cointainer-row {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap
    }

        header .cointainer-row .menu-icon {
            display: block
        }

        header .cointainer-row form {
            display: none;
            width: 100%;
            margin: 12px 0
        }

            header .cointainer-row form .search-text {
                width: 80%;
                padding: 8px 5px
            }

            header .cointainer-row form .search-button {
                width: 20%;
                margin-left: -5px;
                padding: 8px 5px
            }

        header .cointainer-row .categories {
            display: none
        }

        header .cointainer-row .login {
            display: none
        }
}

main {
    width: 100%;
    background-color: #212121;
    color: #fff;
    height: auto;
    padding-top: 73px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 12px;
    font-family: 'Open Sans', sans-serif
}

    main .cointainer-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: 95%;
        max-width: 1100px;
        margin: 0 auto
    }

        main .cointainer-column .safety-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
            width: 100%;
            padding: 10px 0px
        }

            main .cointainer-column .safety-button button {
                border: 1px solid #890001;
                font-size: 14px;
                padding: 8px 27px;
                font-weight: 300;
                border-radius: 8px;
                color: #fff;
                background-color: #c0392b;
                cursor: pointer;
                outline: none
            }

                main .cointainer-column .safety-button button:hover {
                    background-color: #f96b55
                }

        main .cointainer-column .menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            height: auto;
            width: 100%;
            padding: 5px 0px
        }

            main .cointainer-column .menu ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-start
            }

                main .cointainer-column .menu ul li {
                    margin-right: 20px;
                    font-size: 14px;
                    cursor: pointer
                }

                    main .cointainer-column .menu ul li:hover {
                        text-decoration: underline
                    }

        main .cointainer-column .videos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            padding: 20px 0px
        }

            main .cointainer-column .videos .video {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 22%;
                margin-bottom: 25px
            }

                main .cointainer-column .videos .video a {
                    text-decoration: none;
                    color: inherit
                }

                    main .cointainer-column .videos .video a span {
                        font-size: 14px
                    }

        main .cointainer-column .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
            width: 100%;
            padding: 10px 0px
        }

            main .cointainer-column .pagination ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-start
            }

                main .cointainer-column .pagination ul li {
                    font-size: 13px;
                    cursor: pointer;
                    background-color: #484848;
                    color: #fff;
                    padding: 7px 12px;
                    font-weight: 600;
                    margin-right: 8px;
                    border-radius: 8px
                }

                    main .cointainer-column .pagination ul li:hover {
                        background-color: #005489;
                        color: #fff
                    }

                    main .cointainer-column .pagination ul li a {
                        text-decoration: none
                    }

                main .cointainer-column .pagination ul .active {
                    background-color: #005489;
                    color: #fff
                }

@media only screen and (max-width: 960px) {
    main .cointainer-column .videos .video {
        width: 29%
    }
}

@media only screen and (max-width: 760px) {
    main .cointainer-column {
        width: 70%
    }

        main .cointainer-column .videos .video {
            width: 45%
        }
}

@media only screen and (max-width: 490px) {
    main .cointainer-column {
        width: 65%
    }

        main .cointainer-column .videos .video {
            width: 100%
        }
}

footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    height: auto;
    padding: 12px 0;
    font-family: 'Open Sans', sans-serif
}

    footer .cointainer-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: 95%;
        max-width: 1100px;
        margin: 0 auto
    }

        footer .cointainer-row span {
            font-size: 13px
        }

#modal-login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0,0,0,0.6);
    overflow: auto;
    color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 69
}

    #modal-login .cointainer-modal {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background: #000;
        padding: 10px 15px;
        max-width: 95%;
        width: 600px;
        min-height: 300px;
        border: solid 1px #fff;
        border-radius: 5px
    }

        #modal-login .cointainer-modal .modal-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end
        }

            #modal-login .cointainer-modal .modal-header #close {
                background: url(../img/close-g.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                width: 27px;
                height: 27px;
                cursor: pointer
            }

                #modal-login .cointainer-modal .modal-header #close:hover {
                    background: url(../img/close-w.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center
                }

        #modal-login .cointainer-modal .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            width: 100%;
            padding-top: 39px
        }

            #modal-login .cointainer-modal .modal-body span {
                font-size: 15px;
                color: #c0392b
            }

            #modal-login .cointainer-modal .modal-body form {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 15px
            }

                #modal-login .cointainer-modal .modal-body form .modal-button {
                    border: none;
                    color: #fff;
                    background-color: #005489;
                    padding: 5px 20px;
                    font-size: 14px;
                    font-weight: 300;
                    cursor: pointer;
                    outline: none;
                    margin-top: 15px
                }

                    #modal-login .cointainer-modal .modal-body form .modal-button:hover {
                        background-color: #2980b9
                    }

                #modal-login .cointainer-modal .modal-body form .modal-textbox {
                    border: none;
                    color: #fff;
                    background-color: #484848;
                    padding: 5px;
                    margin: 5px 0;
                    font-size: 14px;
                    width: 250px;
                    outline: none;
                    border-radius: 1px;
                    font-weight: 300
                }

#modal-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: auto;
    color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 69
}

    #modal-video .cointainer-modal {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background: #000;
        padding: 10px 15px;
        max-width: 1435px;
        max-height: 807px;
        height: 80%;
        width: 80%;
        border: solid 1px #fff;
        border-radius: 5px;
        overflow: hidden
    }

        #modal-video .cointainer-modal .modal-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end
        }

            #modal-video .cointainer-modal .modal-header #close {
                background: url(../img/close-g.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                width: 27px;
                height: 27px;
                cursor: pointer
            }

                #modal-video .cointainer-modal .modal-header #close:hover {
                    background: url(../img/close-w.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center
                }

        #modal-video .cointainer-modal .modal-body {
            font-size: 14px;
            width: 100%;
            padding-top: 20px;
            font-family: 'Open Sans', sans-serif;
            height: auto;
            color: #fff;
            overflow-y: auto;
            padding-right: 33px;
            box-sizing: content-box;
            align-self: flex-start
        }

            #modal-video .cointainer-modal .modal-body .modal-container {
                height: auto;
                margin: 0 auto;
                width: 640px;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden
            }

                #modal-video .cointainer-modal .modal-body .modal-container h2 {
                    font-size: 21px;
                    margin-bottom: 20px;
                    align-self: flex-start
                }

                #modal-video .cointainer-modal .modal-body .modal-container iframe {
                    height: 360px
                }

                #modal-video .cointainer-modal .modal-body .modal-container .tags {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin: 10px 0
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .tags a {
                        align-self: center;
                        border: solid 1px #fff;
                        padding: 3px 13px;
                        cursor: pointer;
                        border-radius: 5px;
                        font-size: 16px;
                        font-weight: 400;
                        outline: none;
                        margin-right: 5px
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .tags a:hover {
                            background-color: #484848
                        }

                #modal-video .cointainer-modal .modal-body .modal-container .menu {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-top: 15px
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .menu ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .menu ul li {
                            color: #fff;
                            background-color: #005489;
                            padding: 5px 20px;
                            font-size: 14px;
                            font-weight: 300;
                            cursor: pointer;
                            outline: none;
                            margin-right: 10px;
                            font-size: 15px;
                            font-weight: 400;
                            border: 1px solid #fff
                        }

                            #modal-video .cointainer-modal .modal-body .modal-container .menu ul li:hover {
                                background-color: #2980b9
                            }

                #modal-video .cointainer-modal .modal-body .modal-container h3 {
                    align-self: flex-start;
                    font-size: 18px;
                    margin-top: 45px;
                    margin-bottom: 25px
                }

                #modal-video .cointainer-modal .modal-body .modal-container .comments {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-bottom: 33px
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .comments .comment {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin: 5px 0
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .comments .comment span {
                            font-size: 16px;
                            font-weight: 600;
                            color: #005489
                        }

                        #modal-video .cointainer-modal .modal-body .modal-container .comments .comment p {
                            font-size: 14px;
                            font-weight: 400
                        }

                #modal-video .cointainer-modal .modal-body .modal-container h3 {
                    align-self: flex-start;
                    font-size: 18px
                }

                #modal-video .cointainer-modal .modal-body .modal-container .related-videos {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    height: auto;
                    width: 100%;
                    padding: 20px 0px
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .related-videos .related-video {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 30%;
                        margin-bottom: 25px
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .related-videos .related-video a {
                            text-decoration: none;
                            color: inherit
                        }

                            #modal-video .cointainer-modal .modal-body .modal-container .related-videos .related-video a span {
                                font-size: 14px
                            }

        #modal-video .cointainer-modal .gradient {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 70px;
            background: -moz-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137,255,241,0)), color-stop(100%, #000));
            background: -webkit-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: -o-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: -ms-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: linear-gradient(to bottom, rgba(137,255,241,0) 0%, #000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 )
        }
