html {
    box-sizing: border-box
}

* {
    box-sizing: inherit
}

body {
    background-color: #212121;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-family: "Segoe UI","Helvetica Neue", "Ubuntu", "Arial";
}


html, body, p, ol, ul, li, textarea, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

button, input, select, textarea {
    margin: 0
}

img, embed, iframe, audio, video {
    height: auto;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video:hover video {
    -webkit-box-shadow: 0px 0px 15px 0px #66afec;
    -moz-box-shadow: 0px 0px 15px 0px #66afec;
    box-shadow: 0px 0px 15px 0px #66afec;
}

.video:hover .title {
    text-shadow: 0 0 3px #fff;
}

iframe {
    border: 0
}

.video-preview {
    object-fit: fill;
    width: 500px;
    height: 134px;
    width: 238px;
}

@media only screen and (max-width: 1149px) {
    .video-preview {
        height: auto;
        width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .video-preview {
        max-width: 100%;
    }
}


header {
    position: fixed;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: auto;
    padding: 12px 0;
    z-index: 60;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    header .cointainer-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        width: 95%;
        max-width: 1080px;
        margin: 0 auto
    }

        header .cointainer-row a {
            text-decoration: none;
            color: inherit
        }

            header .cointainer-row a .logo {
                font-size: 27px;
                font-weight: 400
            }

                header .cointainer-row a .logo .si {
                    font-size: 24px;
                    font-weight: 400;
                    color: #66afec
                }

        header .cointainer-row .menu-icon {
            display: none;
            align-self: center;
            background: url(img/menu-icon-w.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 27px;
            height: 27px;
            cursor: pointer
        }

            header .cointainer-row .menu-icon:hover {
                background: url(img/menu-icon-b.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center
            }

        header .cointainer-row form {
            align-self: center;
            display: block
        }

            header .cointainer-row form .search-text {
                
                border: none;
                color: #fff;
                background-color: #484848;
                padding: 5px;
                font-size: 14px;
                width: 400px;
                outline: none;
                border-radius: 1px;
                font-weight: 400
            }

            header .cointainer-row form .search-button {
                border: none;
                color: #fff;
                background-color: #005489;
                padding: 5px 20px;
                font-size: 14px;               
                font-weight: 400;
                cursor: pointer;
                outline: none
            }

                header .cointainer-row form .search-button:hover {
                    background-color: #2980b9
                }

        header .cointainer-row ul {
            display: none;
            width: 100%
        }

            header .cointainer-row ul li {
                width: 100%;
                font-size: 14px;
                cursor: pointer;
                padding: 9px 0;
                text-align: center
            }

                header .cointainer-row ul li:hover {
                    background-color: #484848
                }

                header .cointainer-row ul li a {
                    text-decoration: none;
                    color: inherit
                }

                header .cointainer-row ul li:last-child {
                    border-top: 1px solid #484848
                }

        header .cointainer-row .categories {
            align-self: center;
            background-color: #005489;
            padding: 3px 13px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 400;
            outline: none
        }

            header .cointainer-row .categories:hover {
                background-color: #26a9ff
            }

        header .cointainer-row .login {
            align-self: center;
            font-size: 13px;
            font-weight: 400;
            cursor: pointer
        }

            header .cointainer-row .login:hover {
                text-decoration: underline
            }

@media only screen and (max-width: 960px) {
    header .cointainer-row form .search-text {
        width: 300px
    }
}

@media only screen and (max-width: 810px) {
    header .cointainer-row form .search-text {
        width: 230px
    }
}

@media only screen and (max-width: 760px) {
    header .cointainer-row {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap
    }

        header .cointainer-row .menu-icon {
            display: block
        }

        header .cointainer-row form {
            display: none;
            width: 100%;
            margin: 12px 0
        }

            header .cointainer-row form .search-text {
                width: 80%;
                padding: 8px 5px
            }

            header .cointainer-row form .search-button {
                width: 20%;
                margin-left: -5px;
                padding: 8px 5px
            }

        header .cointainer-row .categories {
            display: none
        }

        header .cointainer-row .login {
            display: none
        }
}

#categories-preview {
    display: none;
    position: fixed;
    top: 49px;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: auto;
    padding: 40px 0;
    
    z-index: 60;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    #categories-preview .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        width: 95%;
        max-width: 1080px;
        margin: 0 auto
    }

        #categories-preview .container div {
            position: relative;
            cursor: pointer;
            width: 22%;
            height: auto;
            text-decoration: none;
            color: inherit
        }

            #categories-preview .container div span {
                position: absolute;
                bottom: 15px;
                width: 100%;
                font-size: 18px;
                font-weight: 400;
                color: #66afec;
                background-color: rgba(0,0,0,0.73);
                text-align: center;
                padding: 3px 0;
                left: 0px;
            }

            #categories-preview .container div img {
                border: 2px solid #000
            }

                #categories-preview .container div img:hover {
                    border: 2px solid #66afec
                }

@media only screen and (max-width: 760px) {
    #categories-preview {
        display: none !important
    }
}

main {
    width: 100%;
    background-color: #212121;
    color: #fff;
    height: auto;
    min-height: calc(100vh - 46px);
    padding-top: 73px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    
}

    main .cointainer-column {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: 95%;
        max-width: 1080px;
        margin: 0 auto
    }

    main .loader {
        position: fixed;
        height: 100vh;
        left: 0px;
        width: 100%;
        z-index: 200;
        display: flex;
        justify-content: center;
        background-color: rgba(33, 33, 33, 0.74);
        margin-left: -1px;
        top: 0px;
        display: none;
    }

@media only screen and (max-width: 1149px) {
    .safety-button {
        display: none;
    }
}

#cookies {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #005489;
    color: #fff;
    height: auto;
    padding: 9px 9px;
    
}
#pwa {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #207245;
    color: #fff;
    height: auto;
    padding: 9px 9px;
    
    z-index:5;
}
    #pwa p {
        font-size: 13px;
        font-weight: 400
    }
    #pwa button {
        border: solid white;
        
        font-size: 13px;
        padding: 3px 14px;
        margin-left: 10px;
        font-weight: 600;
        border-radius: 0px;
        color: #fff;
        background-color: #103715;
        cursor: pointer;
        outline: none;
        height:65px;
    }

    #cookies p {
        font-size: 13px;
        font-weight: 400
    }

    #cookies button {
        border: none;
        
        font-size: 13px;
        padding: 3px 14px;
        margin-left: 10px;
        font-weight: 600;
        border-radius: 0px;
        color: #fff;
        background-color: #000;
        cursor: pointer;
        outline: none
    }

main .cointainer-column .safety-button button {
    border: 1px solid #890001;
    
    font-size: 14px;
    padding: 9px 27px;
    font-weight: 400;
    border-radius: 8px;
    color: #fff;
    background-color: #c0392b;
    cursor: pointer;
    outline: none;
    float: right;
    margin-left: 10px;
}

    main .cointainer-column .safety-button button:hover {
        background-color: #f96b55
    }

main .cointainer-column .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 5px 0px;
    color: #26a9ff;
}

#hide-page {
    background-color: black;
    height: 100%;
    position: fixed;
    z-index: 200;
    top: 0px;
    display: none;
    width: 100%;
    text-align: center;
}

#hide-page img
{
    width:100%;
    height:100%;
}

#safe-button {
    
    font-size: 14px;
    padding: 9px 27px;
    font-weight: 400;
    color: #fff;
    background-color: #227447;
    cursor: pointer;
    outline: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

main .cointainer-column .section-title h2 {
    font-size: 26px;
    font-weight: 400
}

    main .cointainer-column .section-title h2 .category-name {
        font-size: 26px;
        font-weight: 400;
        color: #66afec
    }

    main .cointainer-column .section-title h2 .count {
        font-size: 21px;
        margin-left: 5px;
        color: #fff;
        font-weight: 400
    }

main .cointainer-column .section-title ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

    main .cointainer-column .section-title ul li {
        margin-right: 20px;
        font-size: 14px;
        cursor: pointer
    }

        main .cointainer-column .section-title ul li:hover {
            text-decoration: underline
        }

    main .cointainer-column .section-title ul .active-li {
        font-weight: 700
    }

main .cointainer-column .section-title .mobile-only {
    display: none;
    margin-top: 25px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center
}

    main .cointainer-column .section-title .mobile-only span {
        font-size: 14px;
        font-weight: 400;
        margin-left: 5px;
        color: #66afec
    }

main .cointainer-column .videos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 20px 0px
}

    main .cointainer-column .videos .video {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 22%;
        margin-bottom: 25px;
        margin-right: 43px;
        transition: transform .2s;
    }

@media only screen and (max-width: 1149px) {
    .video:hover {
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 1149px) {
    .video:hover {
        transform: scale(1.2);
    }
}

main .cointainer-column .videos .video a {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

    main .cointainer-column .videos .video a .preview {
        position: relative;
        width: 100%;
        height: 100%
    }

        main .cointainer-column .videos .video a .preview .today {
            position: absolute;
            top: 7px;
            font-size: 13px;
            font-weight: 600;
            color: #fff;
            background-color: rgba(0,0,0,0.4);
            text-align: center;
            padding: 2px 8px;
            left: 0px;
            backdrop-filter: blur(2px);
        }

        main .cointainer-column .videos .video a .preview .preview-text {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            bottom: 4px;
            width: 100%;
            font-size: 13px;
            font-weight: 600;
            color: #fff;
            background-color: rgba(0,0,0,0.4);
            text-align: center;
            padding: 3px 8px;
            backdrop-filter: blur(2px);
        }
@media only screen and (max-width: 1149px) {
    main .cointainer-column .videos .video a .preview .preview-text {
        font-size:16px;
    }
    }

        main .cointainer-column .videos .video a .preview .preview-text .hd {
            font-weight: 700;
            margin-right: 6px;
        }

    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    .tip {
        color: #dddddd;
        display: none;
        font-size: 16px;
        text-decoration: underline;
    }


    main .cointainer-column .videos .video a .title {
        font-size: 16px;
        color: white;
        padding-bottom: 15px;
    }


    main .cointainer-column .videos .video:nth-child(4n) {
        margin-right: 0px
    }

    main .cointainer-column .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 12px 0px
    }

        main .cointainer-column .pagination ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap
        }

            main .cointainer-column .pagination ul li {
                font-size: 13px;
                cursor: pointer;
                background-color: #484848;
                color: #fff;
                text-align: center;
                width: 51px;
                padding: 8px 0px;
                font-weight: 600;
                margin-right: 8px;
                border-radius: 8px;
                margin-bottom: 8px
            }

                main .cointainer-column .pagination ul li:hover {
                    background-color: #005489;
                    color: #fff
                }

                main .cointainer-column .pagination ul li a {
                    text-decoration: none;
                    color: white;
                    pointer-events: none;
                    display: inline-block;
                }

            main .cointainer-column .pagination ul .active {
                background-color: #005489;
                color: #fff
            }

    @media only screen and (max-width: 1150px) {
        main .cointainer-column .videos {
            justify-content: space-between
        }

            main .cointainer-column .videos .video {
                width: 48%;
                margin-right: 0px
            }
    }

    @media only screen and (max-width: 500px) {
        main .cointainer-column {
            width: 90%
        }

            main .cointainer-column .videos .video {
                width: 100%
            }

            main .cointainer-column .section-title {
                flex-direction: column;
                align-items: flex-start
            }

                main .cointainer-column .section-title h2 {
                    margin-bottom: 5px
                }

                main .cointainer-column .section-title .mobile-only {
                    display: flex
                }
    }

    @media only screen and (max-width: 345px) {
        main .cointainer-column {
            width: 90%
        }

            main .cointainer-column .videos .video:last-child {
                margin-bottom: 0px
            }
    }

    .nav-up {
        top: -80px;
    }

    #categories {
        width: 100%;
        background-color: #212121;
        color: #fff;
        height: auto;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 12px;
        
        min-height: calc(100vh - 46px)
    }

        #categories h2 {
            text-align: center;
            font-size: 32px;
            font-weight: 400;
            margin: 12px 0
        }

        #categories .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            height: auto;
            width: 95%;
            max-width: 1080px;
            margin: 0 auto;
            padding: 42px 0px
        }

            #categories .container .category {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 22%;
                height: auto;
                margin-bottom: 40px;
                transition: transform .2s;
            }

                #categories .container .category:hover {
                    transform: scale(1.2);
                }

    @media only screen and (max-width: 600px) {
        #categories .container .category:hover {
            transform: scale(1.05);
        }
    }

    #categories .container .category:hover img {
        -webkit-box-shadow: 0px 0px 15px 0px #66afec;
        -moz-box-shadow: 0px 0px 15px 0px #66afec;
        box-shadow: 0px 0px 15px 0px #66afec;
    }

    #categories .container .category a {
        position: relative;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        height: 100%;
        width: 100%
    }

        #categories .container .category a span {
            position: absolute;
            bottom: 15px;
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            color: #66afec;
            background-color: rgba(0,0,0,0.73);
            text-align: center;
            padding: 3px 0;
            left: 0px;
        }

    @media only screen and (max-width: 760px) {
        #categories .container .category {
            width: 47%
        }
    }

    footer {
        width: 100%;
        background-color: #000;
        color: #fff;
        height: auto;
        padding: 14px 0;
        
    }

        footer .cointainer-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
            width: 95%;
            max-width: 1080px;
            margin: 0 auto;
            text-align: center;
        }

            footer .cointainer-row span {
                font-size: 13px
            }

                footer .cointainer-row span a:visited {
                    color: white;
                }

    #modal-login {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: rgba(0,0,0,0.6);
        overflow: auto;
        color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 69
    }

    #firefox-error {
        color: red;
        text-align: center;
        display: none;
        font-size:18px;
    }

    #turn-phone {
        margin-top: 15px;
        display: none;
        color: #269ad7;
    }

    @media only screen and (max-width: 500px) {
        #turn-phone {
            display: block;
        }
    }

#modal-login .cointainer-modal {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: black;
    padding: 10px 15px;
    max-width: 95%;
    width: 600px;
    min-height: 300px;
    box-shadow: 0 0 15px 0 #66afec;
    border-radius: 5px
}

        #modal-login .cointainer-modal .modal-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

            #modal-login .cointainer-modal .modal-header #close-log {
                background: url(../Content/close-g.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                width: 27px;
                height: 27px;
                cursor: pointer
            }

                #modal-login .cointainer-modal .modal-header #close-log:hover {
                    background: url(../Content/close-w.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center
                }

        #modal-login .cointainer-modal .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            width: 100%;
            padding-top: 39px;
            
        }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .slideInDown {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        -webkit-animation-duration: 0.2s;
        animation-duration: 0.2s;
    }

    @-webkit-keyframes slideInDown {
        from {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideInDown {
        from {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .slideOutUp {
        -webkit-animation-name: slideOutUp;
        animation-name: slideOutUp;
        -webkit-animation-duration: 0.2s;
        animation-duration: 0.2s;
    }

    @-webkit-keyframes slideOutUp {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        to {
            visibility: hidden;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }

    @keyframes slideOutUp {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        to {
            visibility: hidden;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }

    .fadeInDown {
        webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }

    @-webkit-keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .fadeOutUp {
        webkit-animation-name: fadeOutUp;
        animation-name: fadeOutUp;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }

    @-webkit-keyframes fadeOutUp {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }

    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }

    .fadeInUp {
        webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }

    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    #background-modal {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: none;
        z-index: 68;
    }

    #blinking-text {
        margin-top: 50px;
        color: #26a9ff;
        display: none;
    }

    #modal-login .cointainer-modal .modal-body h3 {
        font-size: 22px;
        font-weight: 400
    }

    #modal-login .cointainer-modal .modal-body span {
        font-size: 15px;
        color: #c0392b;
        display: none
    }

    #modal-login .cointainer-modal .modal-body form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px
    }

        #modal-login .cointainer-modal .modal-body form .modal-button {
            border: none;
            color: #fff;
            background-color: #005489;
            padding: 5px 20px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            outline: none;
            margin-top: 15px;
            
        }

            #modal-login .cointainer-modal .modal-body form .modal-button:hover {
                background-color: #2980b9
            }

        #modal-login .cointainer-modal .modal-body form .modal-textbox {
            border: none;
            color: #fff;
            background-color: #484848;
            padding: 5px;
            margin: 5px 0;
            font-size: 14px;
            width: 250px;
            outline: none;
            border-radius: 1px;
            font-weight: 400;
            
        }

    body.modal-on {
        overflow: hidden
    }

    #modal-video {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        overflow: auto;
        color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 69
    }

    .iframe-c {
        width: 100%;
    }

    #modal-video .cointainer-modal {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background: #161515;
        padding: 10px 15px;
        max-width: 1435px;
        max-height: 807px;
        height: 80%;
        width: 80%;
        box-shadow: 0px 0px 15px 0px #66afec;
        border-radius: 5px;
        overflow: hidden
    }

    #modal-confirmation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: #212121;
        overflow: auto;
        color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 201
    }

        #modal-confirmation .cointainer-modal {
            height: auto;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            background: #000;
            padding: 10px 15px;
            max-width: 95%;
            width: 500px;
            min-height: 200px;
            border: solid 1px #005489;
            border-radius: 5px
        }

            #modal-confirmation .cointainer-modal .modal-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 14px;
                width: 100%;
                padding-top: 20px;
                
            }

                #modal-confirmation .cointainer-modal .modal-body .conf-title {
                    font-size: 27px;
                    font-weight: 400;
                    padding:0
                }

                    #modal-confirmation .cointainer-modal .modal-body .conf-title .si {
                        font-size: 27px;
                        font-weight: 400;
                        color: #66afec
                    }

                #modal-confirmation .cointainer-modal .modal-body p {
                    font-size: 18px;
                    font-weight: 400;
                    padding: 20px 10px 30px 10px;
                    text-align: center
                }

                #modal-confirmation .cointainer-modal .modal-body button {
                    border: none;
                    
                    font-size: 21px;
                    padding: 8px 27px;
                    margin-bottom: 30px;
                    font-weight: 600;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #005489;
                    cursor: pointer;
                    outline: none
                }

                    #modal-confirmation .cointainer-modal .modal-body button:hover {
                        background-color: #2980b9
                    }


    @media only screen and (max-width: 420px) {
        #modal-video .cointainer-modal {
            border: none;
        }
    }

    #modal-video .cointainer-modal .modal-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
        flex-shrink: 0
    }

        #modal-video .cointainer-modal .modal-header #close {
            background: url(../Content/close-g.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 27px;
            height: 27px;
            cursor: pointer
        }

            #modal-video .cointainer-modal .modal-header #close:hover {
                background: url(../Content/close-w.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center
            }
@media only screen and (max-width: 1149px) {

    #modal-video .cointainer-modal .modal-body {
        font-size: 14px;
        width: 100%;
        padding-top: 5px;
        height: auto;
        color: #fff;
        overflow-y: scroll;
        box-sizing: content-box;
        align-self: flex-start;
        position: relative;
    }
   
    }
@media only screen and (min-width: 1150px) {
    #modal-video .cointainer-modal .modal-body {
        font-size: 14px;
        width: 100%;
        padding-top: 5px;
        height: auto;
        color: #fff;
        overflow-y: scroll;
        padding-right: 23px;
        padding-left: 9px;
        box-sizing: content-box;
        align-self: flex-start;
        position: relative;
        overflow-x: hidden
    }
}
            #modal-video .cointainer-modal .modal-body .loader {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 200;
                display: flex;
                justify-content: center;
                background: #161515;
                margin-left: 5px;
            }

            #modal-video .cointainer-modal .modal-body .modal-container {
                height: auto;
                margin: 0 auto;
                width: 960px;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden
            }

                #modal-video .cointainer-modal .modal-body .modal-container .iframe-container {
                    position: relative;
                    height: 0;
                    padding-top: 56%;
                    width: 100%
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .iframe-container > * {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%
                    }

                #modal-video .cointainer-modal .modal-body .modal-container h2 {
                    font-size: 21px;
                    margin-top: 15px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    align-self: flex-start
                }

                #modal-video .cointainer-modal .modal-body .modal-container .tags {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin: 5px 0
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .tags span {
                        font-size: 16px;
                        font-weight: 300;
                        margin-right: 5px
                    }

                    #modal-video .cointainer-modal .modal-body .modal-container .tags a {
                        cursor: pointer;
                        color: #269ad7;
                        font-size: 16px;
                        font-weight: 400;
                        outline: none;
                        margin-right: 2px
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .tags a:hover {
                            color: #2980b9;
                            text-decoration: underline
                        }

                #modal-video .cointainer-modal .modal-body .modal-container .menu {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-top: 15px
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .menu ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        z-index: 100
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .menu ul li {
                            color: #fff;
                            background-color: #005489;
                            padding: 7px 25px;
                            border-radius: 5px;
                            cursor: pointer;
                            outline: none;
                            margin-right: 20px;
                            font-size: 16px;
                            font-weight: 400;
                            transition-duration: 0.5s;
                            -webkit-transition-duration: 0.5s;
                            -moz-transition-duration: 0.5s
                        }

                            #modal-video .cointainer-modal .modal-body .modal-container .menu ul li:hover {
                                background-color: #2980b9;
                                color: #fff
                            }

                        #modal-video .cointainer-modal .modal-body .modal-container .menu ul #comments {
                            display: none
                        }

                #modal-video .cointainer-modal .modal-body .modal-container .comments {
                    width: 100%;
                    display: none;
                    margin: 50px 0
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .comments h3 {
                        align-self: flex-start;
                        font-size: 18px;
                        margin-bottom: 15px
                    }

                    #modal-video .cointainer-modal .modal-body .modal-container .comments .comment {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin: 5px 0
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .comments .comment span {
                            font-size: 16px;
                            font-weight: 600;
                            color: #005489
                        }

                        #modal-video .cointainer-modal .modal-body .modal-container .comments .comment p {
                            font-size: 14px;
                            font-weight: 400
                        }

                    #modal-video .cointainer-modal .modal-body .modal-container .comments .pagination {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        height: auto;
                        width: 100%;
                        margin-top: 30px
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .comments .pagination ul {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start
                        }

                            #modal-video .cointainer-modal .modal-body .modal-container .comments .pagination ul li {
                                font-size: 12px;
                                cursor: pointer;
                                background-color: #484848;
                                color: #fff;
                                padding: 7px 12px;
                                font-weight: 600;
                                margin-right: 8px;
                                border-radius: 8px
                            }

                                #modal-video .cointainer-modal .modal-body .modal-container .comments .pagination ul li:hover {
                                    background-color: #005489;
                                    color: #fff
                                }

                                #modal-video .cointainer-modal .modal-body .modal-container .comments .pagination ul li a {
                                    text-decoration: none;
                                    color: white;
                                    pointer-events: none;
                                }

                            #modal-video .cointainer-modal .modal-body .modal-container .comments .pagination ul .active {
                                background-color: #005489;
                                color: #fff
                            }

                #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container {
                    width: 100%;
                    display: none;
                    margin: 50px 0;
                    position: relative;
                    margin-left: 10px;
                }

                    #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .loader {
                        position: absolute;
                        height: 100%;
                        width: calc(100% + 5px);
                        z-index: 200;
                        display: flex;
                        justify-content: center;
                        background-color: #161515;
                        margin-left: -2px;
                        margin-top: -2px
                    }

                    #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container h3 {
                        align-self: flex-start;
                        font-size: 22px;
                        font-weight: 400;
                        margin-bottom: 25px
                    }

                    #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        height: auto;
                        width: 100%;
                        box-sizing: border-box;
                        padding-right: 10px;
                    }

                        #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            width: 30%;
                            align-items: flex-start;
                            margin-bottom: 25px;
                            transition: transform .2s;
                        }

                            #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video:hover video {
                                box-shadow: 0px 0px 15px 0px #66afec;
                            }

                            #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video:hover .title {
                                text-shadow: 0 0 3px #fff;
                            }

                            #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video a {
                                text-decoration: none;
                                color: inherit;
                                cursor: pointer
                            }

                                #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video a .preview {
                                    position: relative;
                                    width: 100%;
                                    height: 100%
                                }

                                    #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video a .preview .today {
                                        position: absolute;
                                        top: 7px;
                                        font-size: 13px;
                                        font-weight: 600;
                                        color: #fff;
                                        background-color: rgba(0,0,0,0.4);
                                        text-align: center;
                                        padding: 2px 8px;
                                        left: 0px;
                                    }

                                    #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video a .preview .preview-text {
                                        position: absolute;
                                        display: flex;
                                        justify-content: flex-end;
                                        box-sizing: border-box;
                                        bottom: 4px;
                                        width: 100%;
                                        font-size: 13px;
                                        font-weight: 600;
                                        color: #fff;
                                        background-color: rgba(0,0,0,0.4);
                                        text-align: center;
                                        padding: 3px 8px
                                    }

                                        #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video a .preview .preview-text .hd {
                                            font-weight: 700;
                                            margin-right: 6px
                                        }

                                #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video a .title {
                                    font-size: 16px;
                                    color: white;
                                }


        #modal-video .cointainer-modal .gradient {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 60px;
            background: -moz-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137,255,241,0)), color-stop(100%, #000));
            background: -webkit-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: -o-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: -ms-linear-gradient(top, rgba(137,255,241,0) 0%, #000 100%);
            background: linear-gradient(to bottom, rgba(137,255,241,0) 0%, #000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 )
        }

        @media only screen and (max-width: 1598px) {
            #modal-video .cointainer-modal .modal-body .modal-container {
                width: 640px
            }

                #modal-video .cointainer-modal .modal-body .modal-container .menu {
                    margin-top: 20px
                }
        }

        @media only screen and (max-width: 1150px) {
            #modal-video .cointainer-modal .modal-body .modal-container {
                width: 480px
            }

                #modal-video .cointainer-modal .modal-body .modal-container .menu {
                    margin-top: 40px
                }
        }

        @media only screen and (max-width: 760px) {
            #modal-video .cointainer-modal .modal-body .modal-container {
                width: 90%
            }

                #modal-video .cointainer-modal .modal-body .modal-container .menu {
                    margin-top: 20px
                }

                #modal-video .cointainer-modal .modal-body .modal-container .tags {
                    flex-wrap: wrap
                }

                #modal-video .cointainer-modal .modal-body .modal-container .related-videos-container .related-videos .related-video {
                    width: 47%
                }
        }

        @media only screen and (max-width: 420px) {
            #modal-video .cointainer-modal {
                height: 100%;
                width: 100%;
                border-radius: 0px
            }
        }

        .floatingCirclesG {
            position: relative;
            width: 176px;
            height: 176px;
            margin: auto;
            transform: scale(0.6);
            -o-transform: scale(0.6);
            -ms-transform: scale(0.6);
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6)
        }

        .f_circleG {
            position: absolute;
            background-color: rgba(0,0,0,0.98);
            height: 32px;
            width: 32px;
            border-radius: 17px;
            -o-border-radius: 17px;
            -ms-border-radius: 17px;
            -webkit-border-radius: 17px;
            -moz-border-radius: 17px;
            animation-name: f_fadeG;
            -o-animation-name: f_fadeG;
            -ms-animation-name: f_fadeG;
            -webkit-animation-name: f_fadeG;
            -moz-animation-name: f_fadeG;
            animation-duration: 0.832s;
            -o-animation-duration: 0.832s;
            -ms-animation-duration: 0.832s;
            -webkit-animation-duration: 0.832s;
            -moz-animation-duration: 0.832s;
            animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-direction: normal;
            -o-animation-direction: normal;
            -ms-animation-direction: normal;
            -webkit-animation-direction: normal;
            -moz-animation-direction: normal
        }

        .frotateG_01 {
            left: 0;
            top: 72px;
            animation-delay: 0.3095s;
            -o-animation-delay: 0.3095s;
            -ms-animation-delay: 0.3095s;
            -webkit-animation-delay: 0.3095s;
            -moz-animation-delay: 0.3095s
        }

        .frotateG_02 {
            left: 21px;
            top: 21px;
            animation-delay: 0.416s;
            -o-animation-delay: 0.416s;
            -ms-animation-delay: 0.416s;
            -webkit-animation-delay: 0.416s;
            -moz-animation-delay: 0.416s
        }

        .frotateG_03 {
            left: 72px;
            top: 0;
            animation-delay: 0.5225s;
            -o-animation-delay: 0.5225s;
            -ms-animation-delay: 0.5225s;
            -webkit-animation-delay: 0.5225s;
            -moz-animation-delay: 0.5225s
        }

        .frotateG_04 {
            right: 21px;
            top: 21px;
            animation-delay: 0.619s;
            -o-animation-delay: 0.619s;
            -ms-animation-delay: 0.619s;
            -webkit-animation-delay: 0.619s;
            -moz-animation-delay: 0.619s
        }

        .frotateG_05 {
            right: 0;
            top: 72px;
            animation-delay: 0.7255s;
            -o-animation-delay: 0.7255s;
            -ms-animation-delay: 0.7255s;
            -webkit-animation-delay: 0.7255s;
            -moz-animation-delay: 0.7255s
        }

        .frotateG_06 {
            right: 21px;
            bottom: 21px;
            animation-delay: 0.832s;
            -o-animation-delay: 0.832s;
            -ms-animation-delay: 0.832s;
            -webkit-animation-delay: 0.832s;
            -moz-animation-delay: 0.832s
        }

        .frotateG_07 {
            left: 72px;
            bottom: 0;
            animation-delay: 0.9385s;
            -o-animation-delay: 0.9385s;
            -ms-animation-delay: 0.9385s;
            -webkit-animation-delay: 0.9385s;
            -moz-animation-delay: 0.9385s
        }

        .frotateG_08 {
            left: 21px;
            bottom: 21px;
            animation-delay: 1.035s;
            -o-animation-delay: 1.035s;
            -ms-animation-delay: 1.035s;
            -webkit-animation-delay: 1.035s;
            -moz-animation-delay: 1.035s
        }

        @keyframes f_fadeG {
            0% {
                background-color: rgba(0,84,137,0.97)
            }

            100% {
                background-color: #000
            }
        }

        @-o-keyframes f_fadeG {
            0% {
                background-color: rgba(0,84,137,0.97)
            }

            100% {
                background-color: #000
            }
        }

        @-ms-keyframes f_fadeG {
            0% {
                background-color: rgba(0,84,137,0.97)
            }

            100% {
                background-color: #000
            }
        }

        @-webkit-keyframes f_fadeG {
            0% {
                background-color: rgba(0,84,137,0.97)
            }

            100% {
                background-color: #000
            }
        }

        @-moz-keyframes f_fadeG {
            0% {
                background-color: rgba(0,84,137,0.97)
            }

            100% {
                background-color: #000
            }
        }
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

    .spinner > div {
        background-color: white;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
